@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
body {
    font-family: 'Josefin' ,'Sans';
    margin: 0;
    padding: 0;
    Font-size: 18px;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    background-color: #3D2C2C  
}

* {
    outline: none;
}
header div > img {
    width: 100%;
    
}
header div h1 {
    letter-spacing: 1.1rem;
    position: absolute;
    top: 45px;
    left: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    
}
 .title span img {
    position: absolute;
    top: 57px;
    right: 20px;
    cursor: pointer;
}


header  .todo{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    z-index: 0
}
#tasks div,
header  .todo .input-task,
header .todo  .opre-task {
    width: 100%;
    background-color:hsl(235, 24%, 19%);
    color:hsl(234, 11%, 52%);
    height:50px;
    border-radius: 3px;
    margin: 10px 0;
    padding:  10px
   
}

#tasks div {
    margin: 0;
    border-bottom: 1px solid hsl(234, 11%, 52%);
    border-radius: 0px;
   
}
#tasks div:first-child{
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius: 0px
}
#tasks div:last-child{
    border-bottom:none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}
#tasks div > *{
display: inline-block
}
#tasks div  .igoner{
    float: right;
    padding: 7px 8px;
    font-size: 1.1rem;
    cursor: pointer;
}
#tasks div .title-prgraph {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Josefin', 'Sans';
    color: hsl(192, 100%, 67%)

}
#tasks div .btn {
    padding:  8px;
    font-size: 1.1rem ;
    width:10px;
    height: 10px;;
    background: none;
    border-radius: 50%;
    border: 1px solid hsl(234, 11%, 52%);

}
#tasks div .btn i {
    position: relative;
    top: -13px;
    left: -10px;
    font-size: 1.3rem;
    color: hsl(220, 98%, 61%);
}
  header .todo  .opre-task {
      padding: 0;

  }

section {
    max-width: 100%;
    height: 500px; 
    background-color:hsl(235, 21%, 11%);
    color:hsl(234, 11%, 52%);
    
   

}

header  .todo .input-task span i{
   padding: 0 10px;
  
}
header .input-task input{
    background: none;
    border: none ;
    height: 100%;
    color: hsl(234, 39%, 85%)

}


header .todo  .opre-task ul li{
    float: left;
    color: hsl(234, 11%, 52%);
    list-style: none;
    margin: 10px  10px;
    cursor: pointer;
  }
  header .todo  .opre-task ul li:hover {
      color:hsl(220, 98%, 61%) ;
      font-weight: 400;
  }

  section p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%)
   

  }
 .attribution {
    background-color:hsl(235, 21%, 11%);
    color:hsl(234, 11%, 52%);
  }